
:root {
    --background:#a6da95;
    --blue:#7dc4e4;
    --optional:#2c2f40;
    --Red:#ed8796;
    --Peach:#f5a97f;
    --Yellow:#df8e1d;
    --darkblue:#1e66f5;
    --white:#eff1f5;
    --Teal:#179299;
    --whitecrust:#acb0be;
    --border: 3px solid var(--ctp-text);
    --shadow: 6px 6px 0px var(--ctp-text);
    --shadow-accent: 6px 6px 0px var(--ctp-yellow);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--optional);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    width: 50%;
    height: 75px;
    padding: 1rem;

}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  
}
nav ul li a{
    text-decoration: none;
    padding: 2rem;
      justify-content: space-evenly;
      color: var(--ctp-text);
    font-size: 24px;
}

#home{
    padding-top: 5rem;
    margin-top: 5px;
    margin-left: 9%;
    padding-bottom: 8.5rem;
     margin-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: x-large;
margin-right: 100px;
}

#home h1{
    text-align: left;
    margin-right: 100px;
    margin-left: 2px;
    margin-top: 50px;
    font-size: 45px;
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.text p{
    text-align: left;
    margin-top: 10px;
    margin-right: 40%;
font-family: monospace;
font-size: 31px;
}

#logotop{
    height: 300px;
    width: 300px;
    background-color: white;
    margin-left: 67%;
    border-radius: 20px;
    color: #2c2f40;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    align-items: flex-end;
}

#logotop p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
}

#aboutme{
    margin-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
margin-right: 100px;
}

#aboutme img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65%;
    margin-bottom: 10%;
    box-shadow: red;
    margin-right: 50%;
    }

#aboutme h1{
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#aboutme p{
margin-right: 40%;
font-family: monospace;
}

#skills{
    margin-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: xx-large;
margin-right: 100px;
}


#skills h1{
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skills h3{
    margin: 5px;
}

.skills{
    width: 800px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skills li{
    margin: 20px 0;
    padding: 5px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.HTML{
    width: 90%;
    animation: HTML 3s;
}
.CSS{
    width: 70%;
    animation: CSS 3s;
}
.Figma{
    width: 45%;
    animation: Figma 3s;
}
.MySQL{
    width: 45%;
    animation: MySQL 3s;
}
.JavaScript{
    width: 39%;
    animation: JavaScript 3s;
}

@keyframes HTML{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes CSS{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes Figma{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}
@keyframes MySQL{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}
@keyframes JavaScript{
    0%{
        width: 0%;
    }
    100%{
        width: 39%;
    }
}

#projects{
    margin-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: xx-large;
margin-right: 100px;
}

#boxes{
display: flex;
align-items:center;

}

.project1{
    height: 400px;
    width: 300px;
    background-color: #2c2f40;
    border-spacing: 10px;
    border-radius: 10px;
     box-shadow: 0 14px 28px rgba(239, 235, 235, 0.25), 0 10px 10px rgba(246, 242, 242, 0.22);
}
.project1 h2{
    text-align: center;
    margin-top: 8px;
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.project1 p{
    font-size: 30px;
    margin-top: 65px;
text-align: center;
}
.project1 i{
display: flex;
align-items: center;
justify-content: center;
margin-left: 120px;
}



.project2{
    height: 400px;
    width: 300px;
    background-color: #2c2f40;
    box-sizing: 20px;
    border-radius: 10px;
    margin-left: 50px;
     box-shadow: 0 14px 28px rgba(238, 235, 235, 0.25), 0 10px 10px rgba(236, 232, 232, 0.22);
     margin-top: 20px;
    }

.project3{
    height: 400px;
    width: 300px;
    background-color:#2c2f40 ;
    border-radius: 10px;
    margin-left: 50px;
     box-shadow: 0 14px 28px rgba(240, 227, 227, 0.25), 0 10px 10px rgba(239, 224, 224, 0.22);
}

.project4{
    height: 400px;
    width: 300px;
    background-color:#2c2f40;
    border-radius: 10px;
    margin-top: 35px;
     box-shadow: 0 14px 28px rgba(244, 219, 219, 0.25), 0 10px 10px rgba(240, 216, 216, 0.22);
}

